*{
  box-sizing: border-box;
}
body{
  background: #EAEAEA;
}

.app-container{
  height: 100vh;
  width: 98vw;
  background: #EAEAEA;
  padding: 20px;
  display: flex;
  margin: auto;
}

.user-profile{
  width: 12vw;
  height: 100%;
  background: #1966FF;
  border-radius: 15px;
  padding: 25px;
}

.user-picture-container{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.recentConversations-userSearch-container{
  width: 33vw;
  height: 10%;
  padding: 0 15px 0 25px;
}

.search-container{
  width: 100%;
  height: 60px;
  background: #FFFFFF;
  margin-bottom: 20px;
  border-radius: 15px;
}

.recentConversations-container{
  width: 100%;
  height: 400px;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 15px;
}

.conversation-container{
  background: #FFF;
  width: 50vw;
  border-radius: 15px;
  padding: 20px 30px;
}

.contactProfile-cotainer{
  display: flex;
  border-bottom: 2px solid #E7E7E7;
}

.contactPicture-container{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.contactNameAndStatus{
 margin: auto;
}
.contact-name{
  font-weight: bold;
}